.Dashboard-header {
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    background: transparent;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    box-shadow: inset 0 0 10px 10px rgba(255, 255, 0, 0.10);
}

.Half-one {
    background-image: url('../../../../assets/images/Scarletbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    position: absolute;
    z-index: -1;
    height: 100%;
    left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        margin-top: 15%;
    }
}

.Half-two {
    background-image: url('../../../../assets/images/Violetbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50.1%;
    position: absolute;
    z-index: -1;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        scale: 1.2;
        position: absolute;
        left: 10%;
        margin-top: 15%;
    }
}


.Dashboard-header h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.Dashboard-header h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    position: absolute;
    right: 5%;
}