footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    color: white;
    height: 200px;
    width: 100vw;
    bottom: 0;
    margin-top: auto;
}

.Half-one {
    background: linear-gradient(#9e2a22, #730000);
    width: 50%;
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 0;
}

.Half-two {
    background: linear-gradient(#527, #250044);
    width: 50%;
    position: absolute;
    z-index: -1;
    height: 100%;
    right: 0;
}