.ProfileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.ProfileBackground {
    background-image: url('https://pbs.twimg.com/media/FcEDbM0akAAFr09?format=jpg&name=large');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 70%;
    height: 100%;
    width: 100%;
    background-size: 110%;
    position: absolute;
    z-index: -2;
    filter: blur(2.5px);

    @media screen and (max-width: 768px) {
        background-size: cover;
        background-position: center;
    }
}

.ProfileContentWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 0;
    height: 100%;
    width: 100%;

    @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ProfileLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    width: 20%;
    z-index: 10;

    @media screen and (max-width: 768px) {
        display: none;
    }


    .HotLinks {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 100%;
        z-index: 10;
        text-decoration: none;

        @media screen and (max-width: 1024px) {
            transform: scale(0.8);
            
        }

        a {
            text-decoration: none;
            color: white;
        }

        h2 {
            list-style-image: url('../../assets/icons/Pokeball-default.svg');
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            color: white;
            text-align: left;
            text-transform: uppercase;
            text-shadow: 4px 4px 0px rgba(30, 30, 30, 0.5);
            transition: all 0.3s;
            text-decoration: none;
            margin-bottom: 0px;

            &:hover {
                padding-left: 1rem;
                text-shadow: 4px 4px 0px #FF0000;
                list-style-image: url('../../assets/icons/Pokeball-hovered.svg');
                cursor: pointer;
            }
        }
    }

    .ProfileCardSmallProfile {
        margin-left: 50px;
        margin-bottom: 50px;
    }
}

.ProfileMiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 10;

    @media screen and (max-width: 768px) {
        display: none;
    }

    .MissingPokemonSelection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 1024px) {
            transform: scale(0.8);
        }

        h1 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            color: white;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 4px 4px 0px rgba(30, 30, 30, 0.5);
            transition: all 0.3s;
            text-decoration: none;
            margin-bottom: 0px;
        }
    }

    .MissingPokemonSelectionWrapper {
        background-color: #1e1e1e;
        border: 2px solid #d9d9d9;
        height: 70vh;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;
    }

    .PokemonSelectionCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 150px;
        width: 150px;
        margin: 0rem 0rem 1rem 1rem;
        background-color: #d9d9d9;
        text-transform: capitalize;

        &:hover {
            cursor: pointer;
            background-color: #1e1e1e;
            border: 2px solid #d9d9d9;
            box-sizing: border-box;
            box-shadow: 0px 0px 0px 2px #FF0000;
            color: white;
        }
    }

    .PokemonSelectionCardImageToggled {
        background-color: #1e1e1e;
        border: 2px solid #d9d9d9;
        box-sizing: border-box;
        box-shadow: 0px 0px 0px 2px #FF0000;
        color: white;
    }
}


.ProfileRightSide {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    justify-content: center;
    margin: auto;

    @media screen and (max-width: 768px) {
        height: 100%;
        width: 100%;
        margin-right: auto;
        justify-content: center;
    }
}