.ProfileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.ProfileBackground {
    background-image: url('https://pbs.twimg.com/media/FcEDbM0akAAFr09?format=jpg&name=large');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 70%;
    height: 100%;
    width: 100%;
    background-size: 110%;
    position: absolute;
    z-index: -2;
    filter: blur(2.5px);
}

.ProfileLeftSideFade {
    background: linear-gradient(90deg, #1e1e1e80 30%, #d9d9d900 70%);
    height: 100vh;
    width: 50vw;
    position: absolute;
    left: 0;
}

.ProfileRightSideFade {
    background: linear-gradient(90deg, #1e1e1e80 30%, #d9d9d900 70%);
    transform: scaleX(-1);
    height: 100vh;
    width: 50vw;
    position: absolute;
    right: 0;
}

.ProfileContentWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 0;
    height: 100%;
    width: 80%;
}

.LeftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: left;
    width: 50%;
    z-index: 10;


    .HotLinks {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 100%;
        z-index: 10;
        text-decoration: none;

        a {
            text-decoration: none;
            color: white;
        }

        h2 {
            list-style-image: url('../../assets/icons/Pokeball-default.svg');
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            color: white;
            text-align: left;
            text-transform: uppercase;
            text-shadow: 4px 4px 0px rgba(30, 30, 30, 0.5);
            transition: all 0.3s;
            text-decoration: none;
            margin-bottom: 0px;

            &:hover {
                padding-left: 1rem;
                text-shadow: 4px 4px 0px #FF0000;
                list-style-image: url('../../assets/icons/Pokeball-hovered.svg');
                cursor: pointer;
            }
        }
    }

    .ProfileCardSmallProfile {
        margin-left: 50px;
        margin-bottom: 50px;
    }
}

.RightSide {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}